version: '3'
services:
  xrayr:
    container_name: xrayr
    image: ghcr.io/xrayr-project/xrayr:master
    volumes:
      - ./config:/etc/XrayR/
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
    restart: always
    network_mode: host
  
  gost:
    image: ginuerzh/gost
    container_name: gost
    volumes:
      - ./gost:/etc/gost/
    restart: always
    network_mode: host
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
    command: -C /etc/gost/gost.json
