Log:
  Level: warning
  AccessPath: /etc/XrayR/access.log
  ErrorPath: /etc/XrayR/error.log
DnsConfigPath: /etc/XrayR/dns.json
RouteConfigPath: /etc/XrayR/route.json
InboundConfigPath: # /etc/XrayR/inbounds.json 
OutboundConfigPath: /etc/XrayR/outbounds.json
ConnectionConfig:
  Handshake: 4
  ConnIdle: 30
  UplinkOnly: 2
  DownlinkOnly: 4
  BufferSize: 64
Nodes:
  -
    PanelType: "NewV2board"
    ApiConfig:
      ApiHost: "https://127.0.0.1"
      ApiKey: "123"
      NodeID: 41
      NodeType: Shadowsocks
      Timeout: 30
      SpeedLimit: 0
      DeviceLimit: 5
    ControllerConfig:
      ListenIP: 0.0.0.0
      SendIP: 0.0.0.0
      UpdatePeriodic: 60
      EnableDNS: false
      DNSType: AsIs
      EnableProxyProtocol: true
